/* typography */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.DefaultBlueText{
    color: #0D6EFD;
}

.DarkBlueText{
    color:#00204F;
}

.DarkBlueTextLink{
    color:#00204F;
     text-decoration: underline;
}

.DarkBlueTextLink:hover{
    text-shadow: 2.5px 2.5px 5px #92befc;
}

.LightBlueText{
    color:#A5CAFF;
}

.WhiteTextBig{
    color:#FFF;
    line-height: 30px;
}

.WhiteTextLink{
    color:#FFF;
    line-height: 30px;
    text-decoration: underline;
}

/* Spacing */
.bodyMargin{
    margin-left: 3%;
    margin-top: 2%;
}

.MarginLeft{
 margin-left: 2%;
}

.MarginLeftBig{
 margin-left: 5%;
}

.smallMarginTop{
    margin-top: 0.5%;
}

.marginTop1{
    margin-top: 1%;
}

.mediumTop{
    margin-top: 3%;
}

.marginTop{
    margin-top: 5%;
}

.hugeMarginRight{
    margin-right: 50%;
}

.marginRight{
    margin-right: 5%;
}

.smallMarginRight{
    margin-right: 2%;
}

.tinyMarginRight{
    margin-right: 0.3%;
}

.marginBottomBig{
    margin-bottom: 6%;
}

/* Buttons */
.secondary-Button{
    color: #00204F;
    background-color: #F8F9FA;
    border: none;
    box-shadow: 2.5px 2.5px 5px #0D6EFD;
    padding: 10px 40px;
    border-radius: 7px;
}

.secondary-Button:hover{
    background-image: linear-gradient(to right, #F8F9FA , #A5CAFF);
    box-shadow: 5px 5px 5px #88b2ee inset;
}

.secondary-Button:checked{
    background-color: #A5CAFF;
}

.primary-Button{
    color: #FFF;
    background-color: #0D6EFD;
    border: none;
    box-shadow: 2.5px 2.5px 5px #0D6EFD;
    padding: 10px 40px;
    border-radius: 7px;
}

.primary-Button:hover{
    background-image: linear-gradient(to right, #0D6EFD , #A5CAFF);
    box-shadow: 5px 5px 5px #0952c0 inset;
}

/* for story card */
.tertiaryButton{
    color: #00204F;
    background-color: #A5CAFF;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    border-radius: 70px; 
}

.tertiaryButton:hover{
    box-shadow: 5px 5px 5px #78a6e7 inset;
}

/* for genre tags on create story */
.outlinedButton{
    color: #0D6EFD;
    background-color: #ffffff;
    border-color: #0D6EFD;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 70px;
}

.outlinedButton:hover{
    box-shadow: 5px 5px 5px #b2ccf0 inset;
}

/* Navbar */
.ItemsRight{
    justify-content: end;
}

.Logo{
    width: 160px;
}

.Logo:hover{
     background-image: radial-gradient(#9ec6ff , #A5CAFF);
}

.NavBackground{
    background-image: linear-gradient(to left, #F8F9FA , #A5CAFF);
}

.iconStyle{
    width: 30px;
    height: 30px;
}

.ImageContainer{
  width: 40px;
  height: 40px;
}

.profileImg{
    width: 100%;
  height: 100%;
  object-fit: cover;
    clip-path: circle(50%);
}

/* Homepage */
.CTACard{
    background-image: url(../Assets/background.png);
    background-size: cover;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #0D6EFD;
    min-width: 200px;
}

.CTACardHome{
    background-image: url(../Assets/background.png);
    background-size: cover;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #0D6EFD;
    min-width: 340px;
}

.CTATextCard{
    background-color: #a5caffbb;
    padding: 5%;
    border-radius: 30px;
}

.CenterAlign{
    display: flex;
    align-content: center;
}

.BackgroundBody{
    background-image: linear-gradient(to left, #1f2226 , #0a0a0a);
}

.sidebarScroll{
    height: 16vh;
    overflow: auto;
}

/* Story card */
.cardBackground{
    background-image: linear-gradient(to bottom, #A5CAFF , #ffffff);
    padding: 2.5% 3%;
    border-radius: 30px;
}

.ImageContainerSmall{
  width: 25px;
  height: 25px;
}

.genreLabel{
    border-color: #00204F;
    border-radius: 70px;
    background-color: #FFF;
}

.IconSize{
    width: 25px;
    height: 25px;
}

.CardGroup{
  height: 75vh;
  overflow: auto;
}

/* footer */
footer{
    background-color: #A5CAFF;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Tooltips
Reference: https://stackoverflow.com/a/77796790 */

[data-tooltip]:hover::after {
  display: inline;
  position: absolute;
  content: attr(data-tooltip);
  background-image: linear-gradient(to bottom, #a5caffc3 , #ffffff);
  margin: 2%;
  padding: 1%;
  border-radius: 30px;
  color: #00204F;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* sign up */
.backgroundImage{
    background-image: url(../Assets/background.png);
    background-size: cover;
}

.backTransparent{
    background-color: #a5caffd0;
    padding: 3%;
    margin:auto;
    width:fit-content;
    border-radius: 30px;
    margin-top: 3%;
    padding-bottom: 1%;
}

.TextCenter{
    text-align: center;
}

input{
    border-color: #0D6EFD;
    border-radius: 30px;
    padding: 1%;
    padding-left: 3%;
    width: 60%;
}

input:hover{
    box-shadow: 5px 5px 5px #0D6EFD;
}

.formSignUp{
    margin-left: 30%;
}

/* create story page */
.formCreateStory{
    margin-left: 14%;
}

.backCreateStory{
    background-color: #a5caffd0;
    padding: 3%;
    margin:auto;
    width:50%;
    border-radius: 30px;
    margin-top: 3%;
    padding-bottom: 1%;
    margin-bottom: 5%;
}

textarea{
    width: 80%;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 1px 1px #0D6EFD inset;
}